<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scraped Chart</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js"></script>
    <link rel="stylesheet" href="../static/styles/style.css" />
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>
<body class="bg-blue-500">
    <div class="grid mb-4 pb-10 px-8 mx-4 rounded-3xl bg-gray-50">
        <div class="grid grid-cols-12 gap-6">
            <div class="grid grid-cols-12 col-span-12 gap-6 xxl:col-span-9">
                <div class="col-span-12 mt-8">
                    <h2 class="text-4xl font-medium text-center pb-4 font-sans-serif-Roboto">{{ position }} Jobs In {{ location }} Area</h2>
                    <!-- Top summaries in boxes -->
                    <div class="grid grid-cols-12 gap-6 mt-5">
                        <div class="transform  hover:scale-105 transition duration-300 shadow-xl rounded-lg col-span-12 sm:col-span-6 xl:col-span-3 intro-y bg-white"
                            href="#">
                            <div class="p-5">
                                <div class="flex justify-between">
                                    <span class="iconify h-7 w-7" data-icon="emojione-v1:money-bag" data-inline="false" fill="none"></span>
                                    <div
                                        class="bg-green-500 rounded-full h-6 px-2 flex justify-items-center text-white font-semibold text-sm">
                                        <span id="salaryLevel" class="flex items-center"></span>
                                    </div>
                                </div>
                                <div class="ml-2 w-full flex-1">
                                    <div>
                                        <div id="salaryRange" class="mt-3 text-3xl font-bold leading-8"></div>
                                        <div class="mt-1 text-base text-gray-600">Most Common Salary Range</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="transform  hover:scale-105 transition duration-300 shadow-xl rounded-lg col-span-12 sm:col-span-6 xl:col-span-3 intro-y bg-white"
                            href="#">
                            <div class="p-5">
                                <div class="flex justify-between">
                                    <span class="iconify h-7 w-7" data-icon="emojione:spiral-calendar" data-inline="false"></span>
                                    <div
                                        class="bg-red-500 rounded-full h-6 px-2 flex justify-items-center text-white font-semibold text-sm">
                                        <span id="jogActiveLevel" class="flex items-center"></span>
                                    </div>
                                </div>
                                <div class="ml-2 w-full flex-1">
                                    <div>
                                        <div id="postingsNumber"class="mt-3 text-3xl font-bold leading-8"></div>

                                        <div class="mt-1 text-base text-gray-600">Job postings in the past 30 days</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="transform  hover:scale-105 transition duration-300 shadow-xl rounded-lg col-span-12 sm:col-span-6 xl:col-span-3 intro-y bg-white"
                            href="#">
                            <div class="p-5">
                                <div class="flex justify-between">
                                    <span class="iconify h-7 w-7 text-blue-400" data-icon="whh:workshirt" data-inline="false"></span>
                                    <div
                                        class="bg-yellow-500 rounded-full h-6 px-2 flex justify-items-center text-white font-semibold text-sm">
                                        <span class="flex items-center">part vs full</span>
                                    </div>
                                </div>
                                <div class="ml-2 w-full flex-1">
                                    <div>
                                        <div class="mt-3 text-3xl font-bold leading-8">Full-Time</div>

                                        <div class="mt-1 text-base text-gray-600">Most common employment type</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="transform  hover:scale-105 transition duration-300 shadow-xl rounded-lg col-span-12 sm:col-span-6 xl:col-span-3 intro-y bg-white"
                            href="#">
                            <div class="p-5">
                                <div class="flex justify-between">
                                    <span class="iconify h-7 w-7 text-blue-400" data-icon="vaadin:line-bar-chart" data-inline="false"></span>
                                    <div
                                        class="bg-blue-500 rounded-full h-6 px-2 flex justify-items-center text-white font-semibold text-sm">
                                        <span class="flex items-center">Total Number of Jobs</span>
                                    </div>
                                </div>
                                <div class="ml-2 w-full flex-1">
                                    <div>
                                        <div id="totalJob" class="mt-3 text-3xl font-bold leading-8"></div>

                                        <div class="mt-1 text-base text-gray-600">Jobs in the Area</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- top box summaries end here -->
                    <div class="col-span-12 mt-5">
                        <div class="grid gap-2 grid-cols-1 lg:grid-cols-2">
                            <!-- salary graph -->
                            <div id="chart" class="shadow-xl rounded-lg col-span-12 sm:col-span-6 xl:col-span-3 intro-y bg-white">
                                <h2 class ="mt-3 text-3xl font-bold leading-8 text-center py-5">Salary Range</h2>
                                <p id="unspecified_salary" class="mt-1 text-base text-gray-600 px-4"></p>
                                <div id="salaryGraph"></div>
                            </div>
                            <!-- job postings graph -->
                            <div id="chart" class="shadow-xl rounded-lg intro-y bg-white">
                                <h2 class ="mt-3 text-3xl font-bold leading-8 pb-5 text-center">Job Posted Dates</h2>
                                <div id="jobPostingGraph"></div>
                            </div>
                            <!-- full vs part time graph -->
                            <div id="chart" class="shadow-xl rounded-lg intro-y bg-white">
                                <h2 class ="mt-3 text-3xl font-bold leading-8 pb-5 text-center">Full vs Part Time Ratio</h2>
                                <div id="fullPartGraph"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- script for salary range bar graph -->
    <script type="text/javascript">
        function salaryGraphAdder(salary){
            //if-immediate
            if(salary <= 15000){salaryA++}
            else if(salary <= 30000){salaryB++}
            else if(salary <= 45000){salaryC++}
            else if(salary <= 60000){salaryD++}
            else if(salary <= 75000){salaryE++}
            else if(salary <= 90000){salaryF++}
            else {salaryG++}
        }
        //sets of data for salary range
        let salaryA = 0;
        let salaryB = 0;
        let salaryC = 0;
        let salaryD = 0;
        let salaryE = 0;
        let salaryF = 0;
        let salaryG = 0;
        let salaryNotPosted = 0;
        //sets of data for posting Dates
        let dateToday = 0;
        let dateA = 0;
        let dateB = 0;
        let dateC = 0;
        let dateD = 0;
        let dateE = 0;
        let dateF = 0;
        let dateG = 0;

        var jobs = '{{data|safe}}'
        jobs = JSON.parse(jobs)
        for (var i = 0; i < jobs.length; i++) {
            //cases where salary is unspecified
            if(jobs[i].salary === ""){
            salaryNotPosted++
            }
            //cases where the employer posted hourly wages
            else if(jobs[i].salary.search('year') === -1 && !(jobs[i].salary.search('hour') === -1)){
            //var string = newData[i].salary.replaceAll('$','').replaceAll(',','');
            var list = jobs[i].salary.match(/\d*\.\d+|\d+/g);
            if(list.length === 2){
                list.sort((x,y)=>{
                //calculating salary; equation: average of the range * 40(hours) * 52(weeks)
                salaryGraphAdder(((x*1+y*1)/2)*40*52)
                });
            }
            else if(list.length === 1){
                salaryGraphAdder((list[0]*1)*40*52);
            }
            }
            //cases where the emoplyer posted annual income
            else if(!(jobs[i].salary.search('year') === -1) && jobs[i].salary.search('hour') === -1){
                var string = jobs[i].salary.replaceAll('$','').replaceAll(',','');
                var list = string.match(/\d+/g);
                if(list.length === 2){
                    list.sort((x,y)=>{
                    //calculating annual salary: by average
                    salaryGraphAdder(((x*1+y*1)/2));
                    });
                }
                else if(list.length === 1){
                    salaryGraphAdder(list[0]);
                }
            }
            else if(jobs[i].salary.search('month' === -1)){
                var string = jobs[i].salary.replaceAll('$','').replaceAll(',','');
                var list = string.match(/\d+/g);
                if(list.length === 2){
                    list.sort((x,y)=>{
                    //calculating monthly salary: by average
                    salaryGraphAdder(((x*1+y*1)/2)*12);
                    });
                }
                else if(list.length === 1){
                    salaryGraphAdder(list[0]*12);
                }
            }
        }
    console.log(salaryNotPosted);
    //loop for posted dates
    for(var i =0; i < jobs.length; i++){
        let date = jobs[i].post_date.replace('days ago', '').replace('day ago', '').replace('Just posted', 'Today');
        if(date ==="Today"){
        dateToday++;
        }
        else if(date*1 <= 5){
        dateA++;
        }
        else if(date*1 > 5 && date*1 <= 10){
        dateB++;
        }
        else if(date*1 > 10 && date*1 <= 15){
        dateC++;
        }
        else if(date*1 > 15 && date*1 <= 20){
        dateD++;
        }
        else if(date*1 > 20 && date*1 <= 25){
        dateE++;
        }
        else if(date*1 > 25 && date*1 <= 30){
        dateF++;
        }
        else{
        dateG++;
        }
    }
    </script>

    <script type="text/javascript">
        var options = {
          series: [{
            name: 'Number of cases',
            data: [                    
                salaryA,
                salaryB,
                salaryC,
                salaryD,
                salaryE,
                salaryF,
                salaryG]
            }],
          chart: {
          type: 'bar',
          height: 400
        },
        plotOptions: {
          bar: {
            borderRadius: 4
          }
        },
        dataLabels: {
          enabled: false
        },
        xaxis: {
          categories: ['$0 ~ $15k', '$15k ~ $30k', '$30k ~ $45k', '$45k ~ $60k', '$60k ~ $75k', '$75k ~ $90k', '$90k ~ $100k+'],
        },
        tooltip: {
                shared: true,
                intersect: false,
                y: {
                    formatter: function(y) {
                        if (typeof y !== "undefined") {
                            return y.toFixed(0);
                        }
                        return y;
                    }
                }
            }
        };
        var chart = new ApexCharts(document.querySelector("#salaryGraph"), options);
        chart.render();
    </script>
    <!-- script for job posted dates line graph -->
    <script type="text/javascript">
        var options = {
            series: [{
                name: 'Job Posting',
                data: [
                    dateToday,
                    dateA,
                    dateB,
                    dateC,
                    dateD,
                    dateE,
                    dateF,
                    dateG
                ]
            }],
            chart: {
                height: 350,
                type: 'area',
                zoom: {
                    enabled: false
                },
            },
            stroke: {
                show: true,
                curve: 'smooth',
                lineCap: 'butt',
                colors: undefined,
                width: 3.5,
                dashArray: 0, 
            },
            fill: {
                type: "gradient",
                gradient: {
                shadeIntensity: 1,
                opacityFrom: 0.7,
                opacityTo: 0.9,
                stops: [0, 90, 100]
                }
            },
            labels: ['Today','Past 5 days', '5 ~ 10 days ago', '10 ~ 15 days ago', '15 ~ 20 days ago', '20 ~ 25 days ago', '25 ~ 30 days ago', '30+ days ago'],
            markers: {
                size: 0
            },
            yaxis: [{
                    title: {
                        text: 'Number of Job Postings',
                    },
                },
            ],
            tooltip: {
                shared: true,
                intersect: false,
                y: {
                    formatter: function(y) {
                        if (typeof y !== "undefined") {
                            return y.toFixed(0) + " jobs posted";
                        }
                        return y;
                    }
                }
            }
        };
        var chart = new ApexCharts(document.querySelector("#jobPostingGraph"), options);
        chart.render();
    </script>
    <!-- script for full vs part time ratio -->
    <script type="text/javascript">
        var options = {
          series: [53, 32],
          chart: {
          width: 480,
          type: 'pie',
        },
        labels: ['Full-Time', 'Part-Time'],
        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
              width: 200
            },
        legend: {
            position: 'bottom'
        }
          }
        }]
        };
        var chart = new ApexCharts(document.querySelector("#fullPartGraph"), options);
        chart.render();
    </script>

    <script>
        const salaryArray = [salaryA, salaryB, salaryC, salaryD, salaryE, salaryF, salaryG];
        let max = 0;
        for(var i = 0; i<salaryArray.length; i++){
            if(max < salaryArray[i]){
                max = salaryArray[i];
            }
        }
        if(max == salaryArray[0] || max == salaryArray[1]){
            document.getElementById("salaryLevel").innerHTML = 'Low Salary Level'
        }
        else if(max == salaryArray[2] || max == salaryArray[3] || max == salaryArray[4]){
            document.getElementById("salaryLevel").innerHTML = 'Medium Salary Level'
        }
        else{
            document.getElementById("salaryLevel").innerHTML = 'High Salary Level'
        }
        for(var i = 0; i<salaryArray.length; i++){
            if(max == salaryArray[0]){
                document.getElementById("salaryRange").innerHTML = '$0 ~ $15k'
            }
            else if(max == salaryArray[1]){
                document.getElementById("salaryRange").innerHTML = '$15k ~ $30k'
            }
            else if(max == salaryArray[2]){
                document.getElementById("salaryRange").innerHTML = '$30k ~ $45k'
            }
            else if(max == salaryArray[3]){
                document.getElementById("salaryRange").innerHTML = '$45k ~ $60k'
            }
            else if(max == salaryArray[4]){
                document.getElementById("salaryRange").innerHTML = '$60k ~ $75k'
            }
            else if(max == salaryArray[5]){
                document.getElementById("salaryRange").innerHTML = '$75k ~ $90k'
            }
            else{
                document.getElementById("salaryRange").innerHTML = '$90k ~ $100k+'
            }
        }
        let postingNumber = dateToday + dateA + dateB + dateC + dateD + dateE + dateF
        document.getElementById("postingsNumber").innerHTML = postingNumber
        if(postingNumber < 500){
            document.getElementById("jogActiveLevel").innerHTML = 'Not So Active'
        }
        else if(postingNumber >= 500 && postingNumber < 1000){
            document.getElementById("jogActiveLevel").innerHTML = 'Moderately Active'
        }
        else{
            document.getElementById("jogActiveLevel").innerHTML = 'Highly Active'
        }   
        document.getElementById("totalJob").innerHTML = jobs.length
        document.getElementById("unspecified_salary").innerHTML = `Total number of unspecified salary range: ${(jobs.length - (salaryA + salaryB + salaryC + salaryD + salaryE + salaryF + salaryG))}`
    </script>
    
</body>
</html>