<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scraped Chart</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js"></script>
    <link rel="stylesheet" href="../static/styles/style.css" />
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
</head>
<body class="bg-blue-500">
    <div class="grid mb-4 pb-10 px-8 mx-4 rounded-3xl bg-gray-50">
        <div class="grid grid-cols-12 gap-6">
            <div class="grid grid-cols-12 col-span-12 gap-6 xxl:col-span-9">
                <div class="col-span-12 mt-8">
                    <div class="flex items-center h-10 intro-y">
                        <h2 class="mr-5 text-lg font-medium truncate">{{ position }} Job Information In {{ location }} Area</h2>
                    </div>
                    <!-- Top summaries in boxes -->
                    <div class="grid grid-cols-12 gap-6 mt-5">
                        <div class="transform  hover:scale-105 transition duration-300 shadow-xl rounded-lg col-span-12 sm:col-span-6 xl:col-span-3 intro-y bg-white"
                            href="#">
                            <div class="p-5">
                                <div class="flex justify-between">
                                    <span class="iconify h-7 w-7" data-icon="emojione-v1:money-bag" data-inline="false" fill="none"></span>
                                    <div
                                        class="bg-green-500 rounded-full h-6 px-2 flex justify-items-center text-white font-semibold text-sm">
                                        <span class="flex items-center">This is where low-average-high will go</span>
                                    </div>
                                </div>
                                <div class="ml-2 w-full flex-1">
                                    <div>
                                        <div class="mt-3 text-3xl font-bold leading-8">$30k ~ $45k</div>

                                        <div class="mt-1 text-base text-gray-600">Most Common Salary Range</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="transform  hover:scale-105 transition duration-300 shadow-xl rounded-lg col-span-12 sm:col-span-6 xl:col-span-3 intro-y bg-white"
                            href="#">
                            <div class="p-5">
                                <div class="flex justify-between">
                                    <span class="iconify h-7 w-7" data-icon="emojione:spiral-calendar" data-inline="false"></span>
                                    <div
                                        class="bg-red-500 rounded-full h-6 px-2 flex justify-items-center text-white font-semibold text-sm">
                                        <span class="flex items-center">Active career market</span>
                                    </div>
                                </div>
                                <div class="ml-2 w-full flex-1">
                                    <div>
                                        <div class="mt-3 text-3xl font-bold leading-8">5</div>

                                        <div class="mt-1 text-base text-gray-600">Job postings in the past 30 days</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="transform  hover:scale-105 transition duration-300 shadow-xl rounded-lg col-span-12 sm:col-span-6 xl:col-span-3 intro-y bg-white"
                            href="#">
                            <div class="p-5">
                                <div class="flex justify-between">
                                    <span class="iconify h-7 w-7 text-blue-400" data-icon="whh:workshirt" data-inline="false"></span>
                                    <div
                                        class="bg-yellow-500 rounded-full h-6 px-2 flex justify-items-center text-white font-semibold text-sm">
                                        <span class="flex items-center">part vs full</span>
                                    </div>
                                </div>
                                <div class="ml-2 w-full flex-1">
                                    <div>
                                        <div class="mt-3 text-3xl font-bold leading-8">Full-Time</div>

                                        <div class="mt-1 text-base text-gray-600">Most common employment type</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="transform  hover:scale-105 transition duration-300 shadow-xl rounded-lg col-span-12 sm:col-span-6 xl:col-span-3 intro-y bg-white"
                            href="#">
                            <div class="p-5">
                                <div class="flex justify-between">
                                    <span class="iconify h-7 w-7 text-blue-400" data-icon="vaadin:line-bar-chart" data-inline="false"></span>
                                    <div
                                        class="bg-blue-500 rounded-full h-6 px-2 flex justify-items-center text-white font-semibold text-sm">
                                        <span class="flex items-center">Total Number of Jobs</span>
                                    </div>
                                </div>
                                <div class="ml-2 w-full flex-1">
                                    <div>
                                        <div class="mt-3 text-3xl font-bold leading-8">150</div>

                                        <div class="mt-1 text-base text-gray-600">Jobs in the Area</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- top box summaries end here -->
                    <div class="col-span-12 mt-5">
                        <div class="grid gap-2 grid-cols-1 lg:grid-cols-2">
                            <div id="chart" class="shadow-xl rounded-lg col-span-12 sm:col-span-6 xl:col-span-3 intro-y bg-white">
                                <h2 class ="mt-3 text-3xl font-bold leading-8 text-center py-5">Salary Range</h2>
                                <p id="nonReportedSalary"></p>
                                <canvas id="myChart"></canvas>
                            </div>
                            <div id="chart" class="shadow-xl rounded-lg intro-y bg-white">
                                <h2 class ="mt-3 text-3xl font-bold leading-8 pb-5 text-center">Job Posted Dates</h2>
                                <p id="jobPostings"></p>
                                <div class="bg-white shadow-lg p-4" id="chartline"></div>
                            </div>
                            <div class="shadow-xl rounded-lg intro-y bg-white" id="chartpie">
                                <div id="chart">
                                    <h2 class ="mt-3 text-3xl font-bold leading-8 pb-5 text-center">Full vs Part Time Ratio</h2>
                                    <canvas id=myChartThree></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script>
        var chart = document.querySelector('#chartline')
        var options = {
            series: [{
                name: 'Job Posting',
                type: 'area',
                data: [
                    5,
                    23,
                    43,
                    65,
                    23,
                    54,
                    12,
                    65
                ]
            }],
            chart: {
                height: 350,
                type: 'area',
                zoom: {
                    enabled: false
                },
            },
            stroke: {
                show: true,
                curve: 'smooth',
                lineCap: 'butt',
                colors: undefined,
                width: 3.5,
                dashArray: 0, 
            },
            fill: {
                type: "gradient",
                gradient: {
                shadeIntensity: 1,
                opacityFrom: 0.7,
                opacityTo: 0.9,
                stops: [0, 90, 100]
                }
            },
            labels: ['Today','Past 5 days', '5 ~ 10 days ago', '10 ~ 15 days ago', '15 ~ 20 days ago', '20 ~ 25 days ago', '25 ~ 30 days ago', '30+ days ago'],
            markers: {
                size: 0
            },
            yaxis: [{
                    title: {
                        text: 'Number of Job Postings',
                    },
                },
            ],
            tooltip: {
                shared: true,
                intersect: false,
                y: {
                    formatter: function(y) {
                        if (typeof y !== "undefined") {
                            return y.toFixed(0) + " jobs posted";
                        }
                        return y;
                    }
                }
            }
        };
        var chart = new ApexCharts(chart, options);
        chart.render();
    </script>
    <script>
        
    </script>
    <script type="text/javascript">
    let ChartOne = document.getElementById('myChart').getContext('2d');
    let ChartTwo = document.getElementById('myChartTwo').getContext('2d');
    let ChartThree = document.getElementById('myChartThree').getContext('2d');
    let salaryChart = new Chart(ChartOne, {
        type: 'bar', // bar, horizontalbar, pie, line, doughnut, radar, polarArea... many types of graphs
        data: {
            labels: ['$0 ~ $15k', '$15k ~ $30k', '$30k ~ $45k', '$45k ~ $60k', '$60k ~ $75k', '$75k ~ $90k', '$90k ~ $100k+'],
            datasets:[{
                label: 'Companies',
                data:[
                    34,
                    54,
                    3,
                    53,
                    98,
                    23,
                    12
                ],
                backgroundColor: [
                    'rgba(96, 165, 250)'
                ],
                borderWidth: 1.5,
                borderColor: '#777',
                hoverBorderWidth: 4,
                hoverBorderColor: '#4C516D'
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    display: true,
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    let postDateChart = new Chart(ChartTwo, {
        type: 'line', // bar, horizontalbar, pie, line, doughnut, radar, polarArea... many types of graphs
        data: {
            labels: ['Today','Past 5 days', '5 ~ 10 days ago', '10 ~ 15 days ago', '15 ~ 20 days ago', '20 ~ 25 days ago', '25 ~ 30 days ago', '30+ days ago'],
            datasets:[{
                label: 'Number of occurances',
                data:[
                    5,
                    23,
                    43,
                    65,
                    23,
                    54,
                    12,
                    65
                ],
                backgroundColor: [
                    'rgba(96, 165, 250)'
                ],
                borderWidth: 1.5,
                borderColor: '#777',
                hoverBorderWidth: 4,
                hoverBorderColor: '#4C516D'
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    display: true,
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    //third chart
    let fullPartChart = new Chart(ChartThree, {
        type: 'pie', // bar, horizontalbar, pie, line, doughnut, radar, polarArea... many types of graphs
        data: {
            labels: ['Part', 'Full'],
            datasets:[{
                label: 'Number of occurances',
                data:[
                    1,
                    2
                ],
                backgroundColor: [
                    'rgba(96, 165, 250)',
                    '#b0dbde'
                ],
                borderWidth: 1.5,
                borderColor: '#777',
                hoverBorderWidth: 4,
                hoverBorderColor: '#4C516D'
            }]
        }
    });
    </script>
    
</body>
</html>